<%= form_for([@country, @statistic]) do |f| %>
  <% if @statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

      <ul>
      <% @statistic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :youth_unemployment %><br>
    <%= f.text_field :youth_unemployment %>
  </div>
  <div class="field">
    <%= f.label :property_rights %><br>
    <%= f.text_field :property_rights %>
  </div>
  <div class="field">
    <%= f.label :fiscal_freedom %><br>
    <%= f.text_field :fiscal_freedom %>
  </div>
  <div class="field">
    <%= f.label :monetary_freedom %><br>
    <%= f.text_field :monetary_freedom %>
  </div>
  <div class="field">
    <%= f.label :freedom_from_corruption %><br>
    <%= f.text_field :freedom_from_corruption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
