<p id="notice"><%= notice %></p>
<h1><%= @country.name %></h1>
<h4><strong>OVERALL SCORE <%= @country.score %></strong></h4>
<h4><strong>RANK <%= @country.rank %></strong></h4>

<div>
  <h3>RULE OF LAW</h3>
<p>
  <strong>Youth unemployment:</strong>
  <%= @statistic.youth_unemployment %>
</p>

<p>
  <strong>Property rights:</strong>
  <%= @statistic.property_rights %>
</p>
</div>
<div>
<h3> LIMITED GOVERNMENT</h3>
<p>
  <strong>Fiscal freedom:</strong>
  <%= @statistic.fiscal_freedom %>
</p>

<p>
  <strong>Monetary freedom:</strong>
  <%= @statistic.monetary_freedom %>
</p>

<p>
  <strong>Freedom from corruption:</strong>
  <%= @statistic.freedom_from_corruption %>
</p>

<%= link_to 'Edit', edit_country_statistic_path(@country, @statistic) %> |
<%= link_to 'Back', country_statistics_path(@country) %>
