<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @country.rank %>
</p>

<p>
  <strong>Score:</strong>
  <%= @country.score %>
</p>

<p>
  <strong>Facts:</strong>
  <%= @country.facts %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
